
:root {
    --bg-color: var(--white);
    --bg-card: transparent;
    --border-card: var(--dark-grey);
    --text-color: var(--black);

    --white: #ffffff;
    --black: #000000;
    --correct-green: #0bdf70;
    --almost-yellow: #dfc965;
    --incorrect-grey: #b8b8b8;
    --red: #e54645;
    --light-grey: #d3d6da;
    --dark-grey: #737577;
    --key: #d3d6da9c;
    --key-used: #787c7eb0;
    --card-height: 58px;
    --card-width: 43px;

    /* Dark Mode */
    --dark-bg: #121213;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Card Characters';
    src: url('/Fonts/CardCharacters.TTF') format('truetype');
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: var(--bg-color);
}

.light-mode {
    --bg-color: var(--white);
    --bg-card: transparent;
    --border-card: var(--dark-grey);
    --text-color: var(--black);
}
.dark-mode {
    --bg-color: var(--dark-bg);
    --bg-card: var(--white);
    --border-card: transparent;
    --text-color: var(--white);
}


button {
    font-family: 'Cabin', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    color: var(--text-color);
    border-bottom: 1px solid var(--light-grey);
}


button {
    border: none;
    background: transparent;
    cursor: pointer;
}

svg path {
    fill: var(--text-color);
}

.title {
    text-decoration: none;
    font-weight: 400;
    color: var(--text-color);
    font-size: 36px;
    text-align: center;
    flex-grow: 2;
    pointer-events: none;
    user-select: none;
    position: relative;
    left: 0;
    right: 0;
}

.menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    user-select: none;
}

.menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    margin: 0;
    padding: 0;
}

.help {
    padding-right: 8px;
}

.help svg {
    height: 28px;
    width: 28px;
}

.settings svg {
    height: 28px;
    width: 28px;
}

.review {
    font-size: 16px;
    padding: 0 25px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 100px;
    min-height: 35px;
    margin-left: 30px;
}

/* Main */
main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 25px;
}

.board {
    width: 310px;
    height: 475px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.card {
    font-family: 'Card Characters';
    font-weight: bold;
    font-size: 16px;
    height: 73px;
    width: 52px;
    border: 2px solid var(--light-grey);
    border-radius: 7px;
    margin: 0;
    position: relative;
}

.card .contents {
    width: 100%;
    height: 100%;
}

.card-suit-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Keyboard */
.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.key-spread {
    display: flex;
    justify-content: center;
    width: 100%;
    touch-action: manipulation;
    position: relative;
}

.key {
    font-family: 'Card Characters';
    /* height: var(--card-height); */
    width: var(--card-width);
    aspect-ratio: 63 / 88;
    background: var(--key);
    border-radius: 7px;
    position: absolute;
    transform-origin: center 520%;
    transition: transform 0.1s ease-in-out;
}

.dark-mode .key {
    background: var(--white);
}

.key:nth-child(1) {
    transform: rotate(-60deg);
}    
    
.key:nth-child(2) {
    transform: rotate(-50deg);
}

.key:nth-child(3) {
    transform: rotate(-40deg);
}

.key:nth-child(4) {
    transform: rotate(-30deg);
}

.key:nth-child(5) {
    transform: rotate(-20deg);
}

.key:nth-child(6) {
    transform: rotate(-10deg);
}

.key:nth-child(7) {
    transform: rotate(0deg);
}

.key:nth-child(8) {
    transform: rotate(10deg);
}

.key:nth-child(9) {
    transform: rotate(20deg);
}

.key:nth-child(10) {
    transform: rotate(30deg);
}

.key:nth-child(11) {
    transform: rotate(40deg);
}

.key:nth-child(12) {
    transform: rotate(50deg);
}

.key:nth-child(13) {
    transform: rotate(60deg);
}

.suit-selection {
    width: 280px;
    height: 75px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.suit-selection, .keyboard, .board-container {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.suit {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.key-card {
    width: 100%;
    height: 100%;
    position: relative;
    font-weight: bold;
    font-size: 13px;
}

.top-num {
    position: absolute;
    top: 1px;
    left: 3px;
}

.bottom-num {
    position: absolute;
    bottom: 1px;
    right: 3px;
    transform: rotate(180deg);
}

.card-suit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Util Buttons */
.util-buttons {
    width: 280px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enter, .backspace {
    width: 90px;
    height: 100%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    background: var(--key);
    font-size: 13px;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: all;
    z-index: 98;
    transition: backround-color 0.1s ease-out;
}

.dark-mode .overlay {
    background-color: var(--dark-bg);
    opacity: 0.5;
}

/* Alert */
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
    height: 40px;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--text-color);
    color: var(--bg-color);
    z-index: 100;
    border-radius: 7px;
}


/* Help Menu */
.help-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 570px;
    background-color: var(--white);
    border-radius: 8px;
    font-size: 17px;
    pointer-events: all;
    user-select: text;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, .2);
    z-index: 99;
}

.help-menu .top h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    pointer-events: none;
}
.help-menu .top p {
    font-size: 18px;
}

.help-menu ul {
    list-style: disc;
    padding: 8px 0 8px 20px;
}

.numerical-value {
    display: block;
}

.help-menu .middle-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-menu .card-example {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.help-menu .card-example .card {
    border: none;
}

.help-menu .card-example img {
    font-size: 23px;
}

hr {
    border: 0;
    border-top: 1px solid var(--light-grey);
}

.help-menu .card-example .card:nth-child(1) {
    background-color: var(--correct-green);
}
.help-menu .card-example .card:nth-child(2) {
    background-color: var(--incorrect-grey);
}
.help-menu .card-example .card:nth-child(3) {
    background-color: var(--incorrect-grey);
}
.help-menu .card-example .card:nth-child(4) {
    background-color: var(--almost-yellow);
}
.help-menu .card-example .card:nth-child(5) {
    background-color: var(--incorrect-grey);
}

.help-menu .green-text {
    color: var(--correct-green);
}
.help-menu .yellow-text {
    color: var(--almost-yellow);
}
.help-menu .grey-text {
    color: var(--incorrect-grey);
}

.help-menu h3 {
    font-size: 20px;
    font-weight: bold;
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.exit path {
    fill: var(--black)!important;
}

/* Settings Menu */
.settings-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 570px;
    background-color: var(--white);
    border-radius: 8px;
    font-size: 17px;
    pointer-events: all;
    user-select: text;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, .2);
    z-index: 99;
}

.settings-menu h2 {
    position: relative;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    pointer-events: none;
}

.settings {
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-grey);
}

.settings .bottom {
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 25px;
}  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}  
input:checked + .slider {
    background-color: var(--correct-green);
}  
input:focus + .slider {
    box-shadow: 0 0 1px var(--correct-green);
}
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}  
.slider.round {
    border-radius: 34px;
}  
.slider.round:before {
    border-radius: 50%;
}

.dark-mode .help-menu, .dark-mode .settings-menu {
    box-shadow: 0 4px 23px 0 rgba(255, 255, 255, 0.3);
}

/* Game Over */
.game-over {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 270px;
    background-color: var(--white);
    border-radius: 8px;
    font-size: 17px;
    pointer-events: all;
    user-select: text;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, .2);
    z-index: 99;
}

.game-over h2 {
    position: relative;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    pointer-events: none;
}

.game-over > p {
    position: relative;
    text-align: center;
    pointer-events: none;
}

.game-over .solution-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.game-over .solution {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.game-over .share-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.game-over .share {
    width: 170px;
    height: 40px;
    border-radius: 100px;
    font-size: 16px;
    background-color: #58a351;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-over .share svg {
    margin-left: 10px;
}

.game-over .share path {
    fill: var(--white)!important;
}

.help-menu .card-example .card {
    border: none;
}

.help-menu .card-example img {
    font-size: 23px;
}


/* Utils */
.red {
    color: var(--red);
}

.black {
    color: var(--black);
}

.hidden {
    pointer-events: none;
    display: none;
}

a {
    color:#346eb7 !important;
}

button[disabled] {
    pointer-events: none;
    color: var(--black);
    opacity: 0.4;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-in {
    0% {
        transform: translate(-50%, -40%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -40%);
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }

}

/* Responsive Media Queries */
@media screen and (max-width: 1024px) {
    .title {
        font-size: 32px;
    }
    .menu {
        width: 180px;
    }
    .review {
        font-size: 12px;
        padding: 0 22px;
        min-height: 29px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0 16px;
    }
    .title {
        font-size: 28px;
        text-align: left;
    }
    .help svg {
        height: 24px;
        width: 24px;
    }    
    .settings svg {
        height: 24px;
        width: 24px;
    }
}

@media screen and (max-width: 567px) {
    .key {
        width: calc(var(--card-width) * 0.95);
    }
    .suit {
        width: 35px;
        height: 35px;
    }
    .util-buttons {
        margin-top: 0;
    }
}

@media screen and (max-width: 540px) {
    .key {
        width: calc(var(--card-width) * 0.92);
        transform-origin: center 510%;
    }
}

@media screen and (max-width: 515px) {
    .key {
        width: calc(var(--card-width) * 0.9);
        transform-origin: center 480%;
    }
}

@media screen and (min-width: 768px) {
    .menu-left {
        width: 350px;
    }
    .menu-right {
        width: 350px;
    }
}

@media (hover: hover) {
    .key:nth-child(1):hover {
        transform: rotate(-60deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(2):hover {
        transform: rotate(-50deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(3):hover {
        transform: rotate(-40deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(4):hover {
        transform: rotate(-30deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(5):hover {
        transform: rotate(-20deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(6):hover {
        transform: rotate(-10deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(7):hover {
        transform: rotate(0deg) translateY(-10px);
    }
    .key:nth-child(8):hover {
        transform: rotate(10deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(9):hover {
        transform: rotate(20deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(10):hover{
        transform: rotate(30deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(11):hover {
        transform: rotate(40deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(12):hover {
        transform: rotate(50deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .key:nth-child(13):hover {
        transform: rotate(60deg) translate(calc(10px * cos(-90deg)), calc(10px * sin(-90deg)));
    }
    .suit:hover {
        transform: scale(1.2);
    }    
    .enter:hover, .backspace:hover {
        border: 2px solid var(--dark-grey);  
        font-size: 13px;  
        transform: scale(1.1);    
    }
}